doctype html
html
	head
		link(rel="stylesheet" href="/dependencies/fullpage.js/dist/jquery.fullpage.css")
		link(rel="stylesheet" href="/css/main.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto")
	body
		#fullpage
			.section.background.center-xy-y
				.pink
				.logo
					img(src="/img/logo.svg")
					h1 
						span(style="color: #C2185B") Phydemy
						span(style="color: #fff") Apps
			#Project.section.background
				img(src="/img/dgeti-logo.svg")
				div(style="margin-bottom: 20vh;")
					h1 XIX Concurso Nacional de Prototipos 2017
					span Prototipo de Software (Modalidad Estudiante)
				#what
					h2 ¿Que es Phydemy?
					p.
						Phydemy es un proyecto que busca ayudar a los estudiantes en la resolución de problemas del área de la Física, las aplicaciones están hechas para que el estudiante no les cueste comprobar o resolver cualquier problema, ya que las formulas vienen despejadas, hace conversiones y muestra las operaciones realizadas hasta llegar al resultado.
			#Characterictics.section.background.center-xy-x
				.explication
					h2 Características
					p.
						Phydemy cuenta con ciertas caracteristicas para hacer de tu experiencia con este software la mejor, por ello al solucionar el problema que tengas relacionado con el area de la fisica nuestras apps lo aran de forma rapida y de una manera que sea sencilla de entender y no tengas problemas al interactuar con Phydemy
				.characteristics
					.characteristic
						img(src="/img/atom.svg")
						.description
							b Olvidate de despejes
					.characteristic
						img(src="/img/google.svg")
						.description
							b Diseño Material Design
					.characteristic
						img(src="/img/google-play.svg")
						.description
							b Descarga gratuita
					.characteristic
						img(src="/img/book.svg")
						.description
							b Para estudiantes
			.section.background.center-xy-y
				.apps.padding
					.tarjet
						img(src="/img/back3.jpg")
						#title Titulo xd
						p(class="parr") Phydemy cuenta con ciertas caracteristicas para hacer de tu experiencia con este software la mejor, por ello al solucionar el problema que tengas relacionado con el area de la fisica nuestras apps lo aran de forma rapida y de una manera que sea sencilla de entender y no tengas problemas al interactuar con Phydemy

			#Developers.section.background
				#particles-js(style="position: fixed; width: 100%; height: 100%; z-index: -1")
				.developer
					img(src="/img/jose.svg")
					h2 Jose Luis Castro Garcia
					.social
						a(href="") 
							img(src="/img/facebook.svg")
						a(href="") 
							img(src="/img/twitter.svg")
						a(href="") 
							img(src="/img/pinterest.svg")
					p.
						Programador apasionado y Físico aficionado. Gusto por la programación Web y Móvil: JavaScript Developer principalmente con MEAN Stack, Java, aplicaciones Nativas con Android y Maker principiante con Arduino.
						Amante de los números (principalmente Calculo y Física) y de la Filosofía (lector principalmente de Rousseau, Moro, Nietzsche).
						Ganador a nivel estatal en el área de Física en el XVII Festival Académico DGETI 2017 de la DGETI.

				.developer
					img(src="/img/diana.svg")
					h2 Diana Paola de La Cruz Sierra
					.social
						a(href="") 
							img(src="/img/facebook.svg")
						a(href="") 
							img(src="/img/twitter.svg")
						a(href="") 
							img(src="/img/pinterest.svg")
					p.
						Programadora con mucho y experiencia tanto en el desarrollo web como aplicaciones para Android, así como desarrolladora de Java, gusto por la investigación, el diseño web, Arduino, el rock y la lectura. Amante del espacio exterior y de la divulgación científica.

				.footer
						a(href="") Aviso legal
						a(href="") Terminos de uso

		script(src="/dependencies/jquery/dist/jquery.min.js")
		script(src="/dependencies/fullpage.js/vendors/jquery.easings.min.js")
		script(src="/dependencies/fullpage.js/vendors/scrolloverflow.min.js")
		script(src="/dependencies/fullpage.js/dist/jquery.fullpage.min.js")
		script(src="/js/particles.min.js")
		script.
			$(document).ready(function(){
				$('#fullpage').fullpage();
				particlesJS.load('particles-js', '/js/particlesjs-config.json');
			});