body, html{
	background-color: #f9f9f9;
}
*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box !important;
}
.section.fp-tableCell.center-xy-y{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
.section.fp-tableCell.center-xy-x{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}
.section.background{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.section.background:nth-child(1){
	background-image: url(/img/back3.jpg);
}
.section.pink{
	background-color: rgba(194,24,91,0.4);
	position: absolute;
	width: 100%;
	height: 100%;
}
.section.background:nth-child(2){
	background: #C2185B;
}
.section.background:nth-child(3){
	background: linear-gradient(#C2185B 50%, #f9f9f9 50%);
}

.logo img{
	width: 40vw;
}
.logo h1{
	color: #f9f9f9;
	text-align: center;
	font-size: 4em;
}
.logo{
	width: 40vw;
	height: 40vw;
	display: block;
	margin: auto;
}
.characteristics{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	position: relative;
}
.characteristics .characteristic{
	width: 12vw;
	height: 12vw;
	background-color: #C2185B;
	border-radius: 50%;
	display: inline-flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin: 0px 30px;
	border: 15px solid #f9f9f9;
}
.characteristics .characteristic img{
	display: block;
	margin: auto;
	height: 40%;
	margin-top: 30%;
}
.characteristics .characteristic .description{
	margin-top: 30%;
	text-align: center;
}
.characteristics .characteristic .description b{
	color: #C2185B;
}
.explication{
	text-align: center;
	width: 100%;
	position: absolute;
	top: 10vh;
	color: #f9f9f9;
}
.explication p{
	width: 70vw;
	text-align: justify;
	display: block;
	margin: auto;
}
#Project{
	text-align: center;
	color: #f9f9f9;
}
#Project img{
	display: block;
	margin: auto;
}
#what{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 10px;
	border-top: 2px dashed #f9f9f9;
}
#what p{
	width: 80%;
	text-align: justify;
	display: block;
	margin: auto;
	padding-bottom: 10px;
}
#Developers .fp-tableCell{
	display: flex;
	flex-flow: row wrap;
}
.developer{
	flex: 1;
	text-align: center;
}
.developer>img{
	width: 40%;
}
.developer p{
	text-align: justify;
	padding: 20px 30px;
	background-color: rgba(255,255,255,0.7);
	margin: 10px 30px;
}
.social a{
	text-decoration: none;
	display: inline-flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background-color: #333;
	margin: 0px 10px;
}
.social a:nth-child(1){
	background-color: #295396;
}
.social a:nth-child(2){
	background-color: #1da1f2;
}
.social a:nth-child(3){
	background-color: #cb2027;
}
.developer .social a>img{
	width: 28px;
}


.footer{
	background-color: #333;
	width: 100%;
	padding: 1rem;
}

.footer a{
	text-decoration: none;
	text-decoration-color: none;
	color: #fff;
	padding-right: 2rem;
}

.tarjet img{
	width: 25%;
	height: 25%;
	justify-content: center;
	text-align: center;
	margin: auto;
	border-radius: 50%
}
.tarjet{
	width: 25%;
	height: 50%;
	border:1px solid #eee;
	padding: 15px;
}
.padding{
	padding: 3rem;
}
#title{
	color: #b1aaaa;
}

.down{
	background-color: #333;
	text-align: right;
	width: 10px;
	height: 10px;
}